<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723627196049-e9nl262j0b4mprab1ag4k0h44efmlke3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723627196049-e9nl262j0b4mprab1ag4k0h44efmlke3</string>
	<key>API_KEY</key>
	<string>AIzaSyD348e1wozfMOo3aCvGjbUmEV3gwi9EX40</string>
	<key>GCM_SENDER_ID</key>
	<string>723627196049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banane</string>
	<key>PROJECT_ID</key>
	<string>banane-16c18</string>
	<key>STORAGE_BUCKET</key>
	<string>banane-16c18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723627196049:ios:ce1afda40cf2cb4d320930</string>
</dict>
</plist>